openapi: 3.2.0
info:
  version: v2
  title: Pharmacy Unified API v2.0 Pharmacist API
servers:
- url: https://pharmacy-unified.api.medadvisor.com.au
tags:
- name: Pharmacist
paths:
  /api/v2/pharmacist/retrievebypharmacy:
    get:
      tags:
      - Pharmacist
      summary: Retrieve list pharmacist by pharmacy id
      operationId: Pharmacist_RetrievePharmacist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
      security:
      - Bearer: []
  /api/v2/pharmacist/createorupdate:
    post:
      tags:
      - Pharmacist
      summary: Create or update pharmacist
      operationId: Pharmacist_CreateOrUpdatePharmacist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
      security:
      - Bearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.BookablePharmacistModel'
        description: Pharmacist model
        required: true
  /api/v2/pharmacist/delete/{pharmacistId}:
    delete:
      tags:
      - Pharmacist
      summary: Delete pharmacist
      operationId: Pharmacist_DeletePharmacist
      parameters:
      - name: pharmacistId
        in: path
        description: Pharmacist id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
      security:
      - Bearer: []
components:
  schemas:
    MedAdvisor.Framework.Interface.OperatingHour:
      type: object
      properties:
        weekday:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          type: integer
        startHour:
          format: int32
          type: integer
        startMinute:
          format: int32
          type: integer
        endHour:
          format: int32
          type: integer
        endMinute:
          format: int32
          type: integer
    MedAdvisor.Framework.Interface.v2.TimePeriodModel:
      type: object
      properties:
        from:
          format: date-time
          type: string
        to:
          format: date-time
          type: string
    MedAdvisor.Framework.Interface.v2.BookablePharmacistModel:
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        pharmacyId:
          format: int32
          type: integer
        hasBooking:
          type: boolean
        pharmacyUuid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        workingHour:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.PharmacistWorkingHourModel'
        startDate:
          format: date-time
          type: string
        endDate:
          format: date-time
          type: string
        linkedDate:
          format: date-time
          type: string
        createDate:
          format: date-time
          type: string
        deleted:
          format: date-time
          type: string
        serviceCount:
          format: int32
          type: integer
        hasHolidayAway:
          type: boolean
        holidayAway:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.TimePeriodModel'
        preferences:
          type: string
        timeSlots:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.TimePeriodModel'
        linkedServices:
          type: array
          items:
            format: int32
            type: integer
        dateOfHolidayAways:
          type: array
          items:
            format: date-time
            type: string
          readOnly: true
    MedAdvisor.Framework.Interface.v2.PharmacistWorkingHourModel:
      type: object
      properties:
        fortnightly:
          type: boolean
        primaryWorkingHour:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.OperatingHour'
        primaryStartDate:
          format: date-time
          type: string
        secondaryWorkingHour:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.OperatingHour'
        secondaryStartDate:
          format: date-time
          type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
