{"swagger":"2.0","info":{"version":"v1","title":"Pharmacy Unified API v1.0"},"host":"pharmacy-unified.api.medadvisor.com.au","schemes":["https"],"paths":{"/api/v1/account/3rdpartylogin":{"post":{"tags":["3rd-Party Integration"],"summary":"Login with pharmacy username and password(encoded).","description":"To login into MedAdvisor's system, send a <code>POST</code> request to <code>/loginthirdparty</code> and provide <code>userName</code> and <code>password</code> which is encoded by Base64-encoded UTF8 string. MedAdvisor will provide integrators with a <code>clientId</code> and a <code>clientSecret</code>. Consequently, MedAdvisor is going to return a token, which is used for authentication purposes in APIs requiring token-based authentication. ","operationId":"Account_LoginPharmacy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The identity model for logging in","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.AuthLoginPharmacy","example":{"userName":"abc@example.com","password_encoded":"cGFzc3dvcmQ=","clientId":"clientId","clientSecret":"clientSecret"}},"type":"AuthLoginPharmacy"}],"responses":{"200":{"description":"OK","schema":{"type":"object"},"examples":{"application/json ( Success (below is an example token and not intented to be used)) ":"{\r\n  \"errorData\": {},\r\n  \"result\": 1,\r\n  \"resultMessage\": null,\r\n  \"data\": {\r\n    \"token\": \"eyJhbGciOiJSUzI1NiIsImtpZCI6IjBGQURBQjc2NDM4MTgyRUEyRTNEMjY4NjZBNjA1RDNCMzM0RDU2MDhSUzI1NiIsInR5cCI6IkpXVCIsIng1dCI6IkQ2MnJka09CZ3VvdVBTYUdhbUJkT3pOTlZnZyJ9.eyJuYmYiOjE3MTE0NDMyNjQsImV4cCI6MTcxMTUyOTY2NCwiaXNzIjoiaHR0cHM6Ly9pZC10ZXN0Lm1lZGFkdmlzb3IuaW8iLCJhdWQiOiJwaGFybWFjeS13ZWIiLCJpYXQiOjE3MTE0NDMyNjQsImF0X2hhc2giOiIzeWlfTUlMS0phY0JabFRKaWZsQXZRIiwic19oYXNoIjoid09YZ09hSDFzUlVwcXZKVkdkMWdwUSIsInNpZCI6IkMxQzA2N0M1RTQzQkRFNzNENzJCQjAxRjg3REI2MTA4Iiwic3ViIjoiNzMzNzRkNzAtNWYxNi00ZDM4LWI3NzQtZGQzNjRiOGExN2VkIiwiYXV0aF90aW1lIjoxNzExNDQzMjYwLCJpZHAiOiJsb2NhbCIsImFjciI6Im1hOmxvYToyZmE6b3RwIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvZW1haWxhZGRyZXNzIjoic29uZHE2QHRlc3QuY29tIiwiZ2l2ZW5fbmFtZSI6IlNvbiIsInN1cm5hbWUiOiJEUTYiLCJwaGFybWFjaXN0LnBoLnV1IjoiZDU0ZDViMDQtY2I0OC00YmU4LTk5YjYtNzA1Zjk5NDRiYzUxIiwicGgtYWRtaW4ucGgudXUiOiJkNTRkNWIwNC1jYjQ4LTRiZTgtOTliNi03MDVmOTk0NGJjNTEiLCJyb2xlIjpbIlBoYXJtYWNpc3QiLCJwaC1hZG1pbiJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJzb25kcTZAdGVzdC5jb20iLCJwaGFybWFjaXN0LnBoLmVnIjoiMTIwMDExIiwicGgtYWRtaW4ucGguZWciOiIxMjAwMTEiLCJhbXIiOlsibWZhIl19.jVmdK0UYobOWGWfXJ6h8Q4ArBk9LPyqrl5--zFS8G8oBk1mpq0t9PZAt1ZgVBmTv2jAUfIp-hPal2pkivMna9MgCFPoR4ifk-CrEBlrfCd1uBQFRXdSsNEpe8cW3yNzwdhXocvHg8RvnFGmCa29G57Eepco6YDGCGUY3RczgvB0nG3DE6hUoAhDxW0kZgMAfY_dRt54fjl3f5cpIKbRazQ85U7rej6m8p5AQIHGkddqrubpNAqh39uKbm8a8oQMdBoGjYo_oAVF0ANhdFNyKVlVIhbcHBA4wYvjDQ2NKqEOL8OfSHMrG7MLcpsZBRo0xqRvasRMoZ5Hk98fugA6i-A\",\r\n    \"error\": null,\r\n    \"status\": \"Success\",\r\n    \"properties\": {}\r\n  }\r\n}"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.OperationResult`1[[MedAdvisor.HSH.Core.Structure.IdResult, MedAdvisor.PharmacyUnifiedAPI, Version=5.85.0.0, Culture=neutral, PublicKeyToken=null]]"},"examples":{"application/json ( InvalidUser.) ":"{\r\n  \"errorData\": {},\r\n  \"result\": -6,\r\n  \"resultMessage\": null,\r\n  \"data\": {\r\n    \"token\": null,\r\n    \"error\": \"InvalidUser\",\r\n    \"status\": \"InvalidUser\",\r\n    \"properties\": {}\r\n  }\r\n}"}},"404":{"description":"Not Found","examples":{"application/json ( Not found or feature is not available) ":"{\r\n  \"errorData\": {},\r\n  \"result\": 0,\r\n  \"resultMessage\": null,\r\n  \"data\": {\r\n    \"httpStatusCode\": 404,\r\n    \"result\": 0,\r\n    \"resultMessage\": \"Entity not found.\"\r\n  }\r\n}"}}},"deprecated":false}},"/api/v1/account/resetpassword":{"post":{"tags":["Account"],"summary":"Request reset password for pharmacy user.","operationId":"Account_ResetPassword","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.ResetPasswordRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/gettime":{"get":{"tags":["BookingService"],"summary":"Get Pharmacy Time","operationId":"BookingService_GetPharmacyTime","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.DateTimeResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/allservices":{"get":{"tags":["BookingService"],"summary":"Alls the services.","operationId":"BookingService_AllServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventServiceModel"}}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventresource":{"get":{"tags":["BookingService"],"summary":"Retrieve Event Resources","operationId":"BookingService_RetrieveEventResources","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventResourceResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/dynamic":{"get":{"tags":["BookingService"],"summary":"Retrieve Dynamic Services.","operationId":"BookingService_RetrieveDynamicServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailabilityResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/available":{"get":{"tags":["BookingService"],"summary":"Retrieve Available Services","operationId":"BookingService_RetrieveAvailableServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailabilityResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventresource/{resourceId}":{"get":{"tags":["BookingService"],"summary":"Retrieve Event Resources","operationId":"BookingService_RetrieveEventResource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventResourceResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/booking/{bookingId}":{"get":{"tags":["BookingService"],"summary":"Retrieve Booking","operationId":"BookingService_RetrieveBooking","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookingId","in":"path","description":"BookingId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/calendartoken/{resetStaffUrl}":{"get":{"tags":["BookingService"],"operationId":"BookingService_RetrieveCalendarAccessTokens","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resetStaffUrl","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.CalendarAccessTokenResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/dynamic/{capabilityId}":{"get":{"tags":["BookingService"],"summary":"Retrieve Dynamic Services by Capability Id.","operationId":"BookingService_RetrieveDynamicServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"capabilityId","in":"path","description":"CapabilityId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailabilityResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/available/{capabilityId}":{"get":{"tags":["BookingService"],"summary":"Retrieve Available Services by Capability Id","operationId":"BookingService_RetrieveAvailableServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"capabilityId","in":"path","description":"CapabilityId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailabilityResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/calendartokendetails/{calendarToken}/{staffToken}":{"get":{"tags":["BookingService"],"operationId":"BookingService_RetrieveCalendarTokenDetails","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"calendarToken","in":"path","required":true,"type":"string"},{"name":"staffToken","in":"path","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.CalenderTokenModel"}}}}},"/api/v1/bookingservice/pharmacy/retrieveavailabletimeslots":{"get":{"tags":["BookingService"],"summary":"Retrieve available times slots","operationId":"BookingService_RetrieveAvailableTimeslots","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceId","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"dd/MM/yyyy","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/availabletimeslotnewbooking":{"get":{"tags":["BookingService"],"summary":"Retrieves the available time slot new booking.","operationId":"BookingService_RetrieveAvailableTimeSlotNewBooking","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serviceId","in":"query","description":"The service identifier.","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"The date.","required":true,"type":"string"},{"name":"noOfDays","in":"query","description":"The no of days.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/retrieveeventbookings":{"get":{"tags":["BookingService"],"summary":"Retrieves the event bookings.","operationId":"BookingService_RetrieveEventBookings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"startDate","in":"query","description":"The start date.","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The end date.","required":true,"type":"string","format":"date-time"},{"name":"resourceId","in":"query","description":"The resource identifier.","required":true,"type":"integer","format":"int32"},{"name":"includeResourceAvailability","in":"query","description":"if set to true [include resource availability].","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/patientsearch":{"post":{"tags":["BookingService"],"summary":"Searches the patients.","operationId":"BookingService_SearchPatients","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model.","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.UserSearchModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.UserSearchResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/services/update":{"post":{"tags":["BookingService"],"summary":"Update services","operationId":"BookingService_UpdateEventService","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventServiceModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/services/historic":{"post":{"tags":["BookingService"],"summary":"Retrieve Historic Bookings","operationId":"BookingService_RetrieveHistoricBookings","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"HistoricBookingModel","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.HistoricBookingModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Results.BookingStatusResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/createeventbooking":{"post":{"tags":["BookingService"],"summary":"Creates the event booking.","operationId":"BookingService_CreateEventBooking","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eventBooking","in":"body","description":"The event booking.","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventBookingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/services/suggested":{"post":{"tags":["BookingService"],"summary":"Retrieve Suggested Services","operationId":"BookingService_RetrieveSuggestedServices","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"list is available and list if history","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.SuggestedSearchModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailabilityResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/eventbooking/update":{"post":{"tags":["BookingService"],"summary":"Updates the event booking.","operationId":"BookingService_UpdateEventBooking","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model.","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventBookingModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/eventresource/update":{"post":{"tags":["BookingService"],"summary":"Updates the event resource.","operationId":"BookingService_UpdateEventResource","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventResourceModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/eventpreferences/update":{"post":{"tags":["BookingService"],"summary":"Updates the event preferences.","operationId":"BookingService_UpdateEventPreferences","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model.","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventPreferenceModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/generate":{"post":{"tags":["BookingService"],"summary":"Generate Service Booking","operationId":"BookingService_GenerateServiceBooking","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"booking","in":"body","description":"booking data","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.BookingRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/print/{bookingCode}":{"post":{"tags":["BookingService"],"summary":"Prints the specified booking code.","operationId":"BookingService_Print","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookingCode","in":"path","description":"\"Blank_[PrescreenView]_CapbilityId\", \"Today\", \"TodayCap[CapabilityId]\", \"Date_[yyyy-mm-dd]_[CapabilityId]\", or a booking Code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PrescreenFormModel"}}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/bookingedit":{"post":{"tags":["BookingService"],"summary":"Event booking edit","operationId":"BookingService_EditBookingWithCheck","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.BookingValidateModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventresource/create/{name}":{"post":{"tags":["BookingService"],"summary":"Creates the event resource.","operationId":"BookingService_CreateEventResource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"path","description":"The name.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/delete/{serviceId}":{"post":{"tags":["BookingService"],"summary":"Deletes the event service.","operationId":"BookingService_DeleteEventService","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serviceId","in":"path","description":"The service identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventbooking/{bookingId}/delete":{"post":{"tags":["BookingService"],"summary":"Deletes the event booking.","operationId":"BookingService_DeleteEventBooking","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookingId","in":"path","description":"The booking identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventresource/update/{resourceId}":{"post":{"tags":["BookingService"],"summary":"Update Event Resource Associate Service","operationId":"BookingService_UpdateEventResourceAssociateService","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceId","in":"path","description":"resourceId","required":true,"type":"integer","format":"int32"},{"name":"capabilityId","in":"body","description":"capabilityId","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/eventresource/{resourceId}/delete":{"post":{"tags":["BookingService"],"summary":"Deletes the event resource.","operationId":"BookingService_DeleteEventResource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceId","in":"path","description":"The resource identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/bookingsearch":{"post":{"tags":["BookingService"],"summary":"Booking search.","operationId":"BookingService_BookingSearch","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchingKeyword","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingWrapper"}}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/availableresource/{capabilityId}":{"post":{"tags":["BookingService"],"summary":"Retrieve Available Services Resource For Capability","operationId":"BookingService_RetrieveAvailableResourceForCapability","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"capabilityId","in":"path","description":"CapabilityId","required":true,"type":"integer","format":"int32"},{"name":"date","in":"query","description":"Date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/pharmacy/services/deletebooking/{bookingId}":{"delete":{"tags":["BookingService"],"summary":"Delete an event (calendar) booking","operationId":"BookingService_DeleteServiceBooking","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bookingId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/bookingservice/deletebookingrequest/{patientId}/{bookingId}":{"delete":{"tags":["BookingService"],"summary":"Deletes the booking request.","operationId":"BookingService_DeleteBookingRequest","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"patientId","in":"path","description":"The patient identifier.","required":true,"type":"integer","format":"int32"},{"name":"bookingId","in":"path","description":"The booking identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/GetPatientGroups":{"get":{"tags":["Communication"],"summary":"Get patient groups","operationId":"Communication_GetPatientGroups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"groupType","in":"query","description":"","required":true,"type":"integer","format":"int32","enum":[0,1]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/GetAllPatientGroupMembers":{"get":{"tags":["Communication"],"summary":"Get all patient group members","operationId":"Communication_GetAllPatientGroupMembers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"groupId","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/AddPatientGroup":{"post":{"tags":["Communication"],"summary":"Add patient group","operationId":"Communication_AddPatientGroup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientGroupRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/EditPatientGroup":{"post":{"tags":["Communication"],"summary":"Edit patient group","operationId":"Communication_EditPatientGroup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientGroupRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/UpdatePatientGroupMembers":{"post":{"tags":["Communication"],"summary":"Update patient group members","operationId":"Communication_UpdatePatientGroupMembers","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientGroupMemberRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/comunication/DeletePatientGroup/{id}":{"delete":{"tags":["Communication"],"summary":"Delete patient group","operationId":"Communication_DeletePatientGroup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/config/demographicRules":{"get":{"tags":["Config"],"summary":"Retrieve Demographic Rules Details","operationId":"Config_RetrieveDemographicRules","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.DemoRuleSetResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/config/precursorInstructions":{"get":{"tags":["Config"],"summary":"Retrieve Demographic Rules Details","operationId":"Config_RetrievePrecursorInstructionMappings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.InstructionAbstractionResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/drug/escript/{token}":{"get":{"tags":["3rd-Party Integration"],"summary":"Retrieve details of a electronic prescription from PDS, given a EScript token","description":"Patient is going to transfer this token, medication, patient information... from Mobile Patient App to MedAdvisor. \nDuring the MedAdvisor's process, patient can look into the information about medication, quantity, status... in Mobile Patient App, by making an API call GET /escript/{token} to retrieve all the information mentioned above. \nIntegrators put the token of the dispensation into parameters request, MedAdvisor responses dispense information","operationId":"Drug_RetrieveEPrescription3rdParty","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"path","description":"The EScript token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"},"examples":{"200":{"errorData":null,"result":0,"resultMessage":"success","data":{"errorStatus":0,"errorMessage":"success","eScripts":[{"drugId":40,"drugActiveName":"AMINOCAPROIC ACID","drugForm":"AMP","drugStrength":"250MG/ML 20ML","drugLabelName":"AMICAR","quantity":0.0,"repeatsRemaining":2,"totalRepeats":4,"token":"AMIN7","qrCodeForToken":"qr code","drugAmtCodes":["TPP","MPP"],"instructions":"drug's instruction","status":0,"source":0,"patientId":123,"isReadyInOrder":true,"patientFullName":"Patient Name","isUnknownDrugEScript":false,"unknownEscriptErrorHandling":false,"escriptName":"Escript name"}]}},"application/json ( Token not found!) ":"{\r\n  \"errorData\": {},\r\n  \"result\": 1,\r\n  \"resultMessage\": \"\",\r\n  \"data\": {\r\n    \"errorStatus\": 3,\r\n    \"errorMessage\": \"Token not found!\",\r\n    \"eScripts\": null\r\n  }\r\n}"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.OperationResult`1[[MedAdvisor.HSH.Core.Structure.Patient.PdsEScriptModel, MedAdvisor.PharmacyUnifiedAPI, Version=5.85.0.0, Culture=neutral, PublicKeyToken=null]]"},"examples":{"application/json ( Token is empty!) ":"{\r\n  \"errorData\": {},\r\n  \"result\": 1,\r\n  \"resultMessage\": \"\",\r\n  \"data\": {\r\n    \"errorStatus\": 3,\r\n    \"errorMessage\": \"Token is empty!\",\r\n    \"eScripts\": null\r\n  }\r\n}"}},"401":{"description":"Unauthorized","examples":{"application/json ( Authorization has been denied for this request.) ":"{\r\n  \"message\": \"Authorization has been denied for this request.\"\r\n}"}},"500":{"description":"Internal Server Error","examples":{"application/json ( An error has occurred) ":"{\r\n  \"message\": \"An error has occurred\"\r\n}"}}},"deprecated":false,"security":[{"Bearer":[]}]}},"/api/v1/hq/services":{"get":{"tags":["HeadOffice"],"operationId":"HeadOffice_GetServices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]},"post":{"tags":["HeadOffice"],"summary":"Creates an HO custom service (RAP-38 Story 2.5). The service is owned by the caller's report\r\ngroup and is NOT pushed to any pharmacy — it lands in the catalogue as \"Not pushed\". Returns\r\nthe created service. Pushing to pharmacies is a separate operation (Story 2.7).","operationId":"HeadOffice_CreateService","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.HoCreateServiceRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/hq/pharmacies":{"get":{"tags":["HeadOffice"],"operationId":"HeadOffice_GetPharmacies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/hq/services/{id}":{"get":{"tags":["HeadOffice"],"operationId":"HeadOffice_GetService","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]},"put":{"tags":["HeadOffice"],"summary":"Edits an HO-owned service (RAP-38 Story 2.5). The change updates the shared service definition, so\r\nit applies to every pharmacy already linked to it — this does not push to new pharmacies. Returns\r\nthe updated service.","operationId":"HeadOffice_UpdateService","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.HoUpdateServiceRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/hq/pharmacies/{id}":{"get":{"tags":["HeadOffice"],"operationId":"HeadOffice_GetPharmacy","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/hq/services/{id}/push/{pharmacyId}/deadline":{"put":{"tags":["HeadOffice"],"summary":"Extends or shortens the auto-activation deadline on a pending push (RAP-38 Story 3a.5, AC1a).\r\nShortening into the past is allowed — the nightly job picks it up on its next run.","operationId":"HeadOffice_UpdatePushDeadline","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"pharmacyId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.HoUpdatePushDeadlineRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/hq/services/{id}/push":{"post":{"tags":["HeadOffice"],"summary":"Pushes an HO service to pharmacies in the group (RAP-38 Story 2.7) by scope — all, by state, or\r\nselected pharmacies. Force-links each target with visibility off (pushed, not yet live). Returns\r\nthe push result with updated counts.","operationId":"HeadOffice_PushService","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.HoPushServiceRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/main":{"get":{"tags":["Inbox"],"summary":"Get inbox messages","operationId":"Inbox_GetInboxMessages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxMessageModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/sent":{"post":{"tags":["Inbox"],"summary":"Get inbox sent messages","operationId":"Inbox_GetSentMessages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxFilterModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxSentMessageModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/addscript":{"post":{"tags":["Inbox"],"summary":"Create deferred scripts from order","operationId":"Inbox_AddScript","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.AddScriptRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/completed":{"post":{"tags":["Inbox"],"summary":"Get inbox completed messages","operationId":"Inbox_GetCompletedMessages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxFilterModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxCompletedMessageModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/scheduled":{"post":{"tags":["Inbox"],"summary":"Get inbox scheduled messages","operationId":"Inbox_GetScheduledMessages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxFilterModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxQueuedMessageModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/sendscheduled":{"post":{"tags":["Inbox"],"summary":"Send scheduled messages","operationId":"Inbox_SendScheduledMessages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxFilterModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/readytocollect":{"post":{"tags":["Inbox"],"summary":"Mark multiple messages as Ready to collect","operationId":"Inbox_ReadyToCollectMessage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxMessagesRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxResultModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/inbox/dismissmultiple":{"post":{"tags":["Inbox"],"summary":"Dismiss message","operationId":"Inbox_DismissMultiple","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxMessagesRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.InboxResultModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/logging":{"post":{"tags":["Logging"],"summary":"Forward log from Pharmacy-Web client (angular application) to CloudWatch.\r\nCallers should use a bearer token if they have one, despite AllowAnonymous, to allow the caller identity to be included in the log entry.","operationId":"Logging_Core_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"log","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.Logging.LogEntryModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.OperationResult`1[[MedAdvisor.HSH.Core.Structure.NoResult, MedAdvisor.PharmacyUnifiedAPI, Version=5.85.0.0, Culture=neutral, PublicKeyToken=null]]"}}}}},"/api/v1/pharmacy":{"get":{"tags":["Pharmacy"],"operationId":"Pharmacy_GetPharmacyDetail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/{id}":{"get":{"tags":["3rd-Party Integration"],"summary":"Retrieve pharmacy detail information including services information , delivery settings, etc.","description":"Retrieve pharmacy detail information including services information , delivery settings, etc.","operationId":"Pharmacy_PharmacyDetail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Id of receiving information pharmacy","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"},"examples":{"200":{"errorData":null,"data":{"address":null,"skin":null,"pharmacyBannerGroup":{"skin":null},"pharmacyDataSourceGroup":{"skin":null},"pharmacyServices":[null],"deliverySetting":null}}}},"400":{"description":"Bad Request","examples":{"application/json ( Pharmacy not found) ":"{\r\n  \"message\": \"Pharmacy not found.\"\r\n}"}},"401":{"description":"Unauthorized","examples":{"application/json ( Authorization has been denied for this request.) ":"{\r\n  \"message\": \"Authorization has been denied for this request.\"\r\n}"}}},"deprecated":false,"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/settings":{"get":{"tags":["Pharmacy"],"summary":"Retrieve Pharmacy Details","operationId":"Pharmacy_RetrievePharmacySettings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PharmacySettingsResult"}}},"security":[{"Bearer":[]}]},"put":{"tags":["Pharmacy"],"summary":"Update Pharmacy Details","operationId":"Pharmacy_UpdatePharmacySettings","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacySettingsModel","in":"body","description":"PharmacySettingsModel","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PharmacySettingsModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PharmacySettingsResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetAuthInfo":{"get":{"tags":["Pharmacy"],"operationId":"Pharmacy_GetAuthInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/ho-pending-activations":{"get":{"tags":["Pharmacy"],"summary":"Pending HO-pushed services for this pharmacy — pushed, not yet live, with an auto-activation\r\ncountdown (RAP-38 Story 3a.5). Empty list when nothing is pending.","operationId":"Pharmacy_GetHoPendingActivations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/PharmacyHasPendingHshSms":{"get":{"tags":["Pharmacy"],"summary":"Get all pharmacy which has Pending SMS Broadcast messages","operationId":"Pharmacy_PharmacyHasPendingHshSms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetPharmacyModuleSettings":{"get":{"tags":["Pharmacy"],"summary":"Get pharmacy module settings","operationId":"Pharmacy_GetPharmacyModuleSettings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetPharmacyActivatingBanner":{"get":{"tags":["Pharmacy"],"summary":"Get pharmacy activating banner","operationId":"Pharmacy_GetPharmacyActivatingBanner","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/ElectronicPrescribingSettings":{"get":{"tags":["Pharmacy"],"summary":"Retrieve Pharmacy Electronic Prescribing Settings","operationId":"Pharmacy_GetPharmacyElectronicPrescribingSettings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/RetrievePharmaciesWithPendingSMSReminders":{"get":{"tags":["Pharmacy"],"summary":"Retrieves pharmacies with pending SMS Reminders.","operationId":"Pharmacy_RetrievePharmaciesWithPendingSMSReminders","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/PendingHshSmsMessage":{"get":{"tags":["Pharmacy"],"summary":"Get all pharmacy which has Pending SMS Broadcast messages","operationId":"Pharmacy_GetPendingHshSmsMessage","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyUUid","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/RetrieveSMSReminderPending":{"get":{"tags":["Pharmacy"],"summary":"Retrieves SMS Reminder Pending patients.","operationId":"Pharmacy_RetrieveSMSReminderPending","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyId","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/RetrievePlusOneQueuedActions":{"get":{"tags":["Pharmacy"],"summary":"Retrieves actions to be carried out by the PlusOne client.","operationId":"Pharmacy_RetrievePlusOneQueuedActions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyId","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetPharmacyReleaseNotes":{"get":{"tags":["Pharmacy"],"summary":"Get pharmacy release notes","operationId":"Pharmacy_GetPharmacyReleaseNotes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseNoteId","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetPharmacyReleaseNotesByType":{"get":{"tags":["Pharmacy"],"summary":"Get pharmacy release notes by types","operationId":"Pharmacy_GetPharmacyReleaseNotesByType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseNoteType","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/logo":{"get":{"tags":["Pharmacy"],"summary":"Get Photo PreSigned Url","operationId":"Pharmacy_GetPhoto","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","description":"File Id","required":true,"type":"string"},{"name":"extension","in":"query","description":"File extension","required":true,"type":"string"},{"name":"isDefaultLogo","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.OperationResult"}}},"security":[{"Bearer":[]}]},"post":{"tags":["Pharmacy"],"summary":"Upload Pharmacy Logo","operationId":"Pharmacy_UploadLogo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"file","in":"body","description":"File content","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.FileUploadModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PharmacySettingsResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetModuleSettingsByIdentifier":{"get":{"tags":["Pharmacy"],"operationId":"Pharmacy_GetModuleSettingsByIdentifier","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyIdentifier","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GetPharmacySettingByIdentifier":{"get":{"tags":["Pharmacy"],"summary":"Get pharmacy setting by identifier","operationId":"Pharmacy_GetPharmacySettingByIdentifier","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyIdentifier","in":"query","description":"","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/notify":{"post":{"tags":["3rd-Party Integration"],"summary":"Push a message in Inbox of PlusOne. The detail of message displays description and the clickable URL of the order.","operationId":"Pharmacy_NotifyPharmacyOfECommerceOrder","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"Need to provie an orderId, an order description and recall URL is valid.","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.NotifyPharmacyModel","example":{"orderId":1,"description":"Order description example","url":"http://www.example.com/index.html"}},"type":"NotifyPharmacyModel","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"},"examples":{"application/json ( Added an order to notify pharmacy via Inbox of PlusOne successfully) ":"{\r\n  \"message\": \"Added an order to notify pharmacy via Inbox of PlusOne successfully\"\r\n}"}},"400":{"description":"Bad Request","examples":{"application/json ( The URL is invalid) ":"{\r\n  \"message\": \"Result: -2,  HttpStatusCode: 400, ResultMessage: The URL is invalid\"\r\n}"}},"401":{"description":"Unauthorized","examples":{"application/json ( Need to authenticate first) ":"{\r\n  \"message\": \"Result: -2,  HttpStatusCode: 401, ResultMessage: Unauthorized request.\"\r\n}"}}},"deprecated":false,"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/features":{"post":{"tags":["Pharmacy"],"summary":"Retrieve Pharmacy features","operationId":"Pharmacy_SearchPharmacyFeatures","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"guids","in":"body","description":"Pharmacy GUIDs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PharmacyGuidModel"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/SearchPatients":{"post":{"tags":["Pharmacy"],"summary":"Search patient free text","operationId":"Pharmacy_SearchPatients","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientSearchFreeTextRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientSearchResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/getpharmacyinfos":{"post":{"tags":["Pharmacy"],"operationId":"Pharmacy_GetPharmacyInfos","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pharmacyUUIDs","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/RegisterAccountV4":{"post":{"tags":["Pharmacy"],"summary":"Registers account (instant activate).","operationId":"Pharmacy_RegisterAccountV4","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.InstantActivateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.InstantActivateResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/UpdateActionStatus":{"post":{"tags":["Pharmacy"],"summary":"Update Action Status","operationId":"Pharmacy_UpdateActionStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"action","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.ActionUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/UpdateCachePatient":{"post":{"tags":["Pharmacy"],"operationId":"Pharmacy_UpdateCachePatient","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.UpdateCachePatientRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.OperationResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/VerifyPharmacyInfo":{"post":{"tags":["Pharmacy"],"operationId":"Pharmacy_VerifyPharmacyInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PharmacyIdentifierModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/SearchPatientAdvance":{"post":{"tags":["Pharmacy"],"summary":"Search patient advance","operationId":"Pharmacy_SearchPatientAdvance","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"searchRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientSearchAdvanceRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PatientSearchResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/SendBroadcastMessage":{"post":{"tags":["Pharmacy"],"summary":"Requests that a message be broadcasted to a set of recipients by App Message, SMS, etc.","operationId":"Pharmacy_SendBroadcastMessage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"sendBroadcastMessageRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.SendBroadcastMessageRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/AcceptTermsConditions":{"post":{"tags":["Pharmacy"],"summary":"Accept terms conditions","operationId":"Pharmacy_AcceptTermsConditions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.AcceptTermsConditionsRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GenerateActivationCodeV3":{"post":{"tags":["Pharmacy"],"summary":"Generate Activation Code V3.","operationId":"Pharmacy_GenerateActivationCodeV3","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.AccountActivationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.ActivationKeyResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/UpdateSMSReminderComplete":{"post":{"tags":["Pharmacy"],"summary":"Updates SMS Reminder Completed patients.","operationId":"Pharmacy_UpdateSMSReminderComplete","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.UpdateSMSReminderCompleteModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/GeneratePharmacyChangeRequest":{"post":{"tags":["Pharmacy"],"operationId":"Pharmacy_GeneratePharmacyChangeRequest","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.GeneratePharmacyChangeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.OperationResult"}}},"security":[{"Bearer":[]}]}},"/api/v1/pharmacy/SendEScriptTokenToMedViewFlow":{"post":{"tags":["Pharmacy"],"summary":"Send EScript Token To MedView Flow","operationId":"Pharmacy_SendEScriptTokenToMedViewFlow","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"eScriptToken","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/PendingOrder/{orderId}":{"get":{"tags":["RefillOrder"],"summary":"Get full pending order with line items and resolved statuses (Epic 2 — Story 2.1).\r\nReturns HTTP 404 when the order does not exist or does not belong to this pharmacy.","operationId":"RefillOrder_GetPendingOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PendingOrderModel"}}},"security":[{"Bearer":[]}]},"delete":{"tags":["RefillOrder"],"summary":"Delete a pending order (Epic 2 — Story 2.5a, FR29).\r\nReturns 404 when the order does not exist or does not belong to this pharmacy.","operationId":"RefillOrder_Delete","consumes":[],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/CompletedOrder/{orderId}":{"get":{"tags":["RefillOrder"],"summary":"Get a completed order with read-only details and PIA payment status (Epic 6 — Story 6.1).\r\nReturns HTTP 404 when the order does not exist or does not belong to this pharmacy.","operationId":"RefillOrder_GetCompletedOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PendingOrderModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/EScriptToken/{orderId}/{tokenId}":{"get":{"tags":["RefillOrder"],"summary":"Get full eScript token detail for a line item (Epic 3 — Story 3.2, FR15).\r\nReturns 404 when the order does not belong to this pharmacy or the token is not found.","operationId":"RefillOrder_GetEScriptToken","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"tokenId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.EScriptTokenDetailModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/Delivery/{orderId}":{"put":{"tags":["RefillOrder"],"summary":"Update delivery address fields, shipping method, or delivery status (Story 4.1 — FR18–FR20).\r\nReturns 404 when the order does not exist, does not belong to this pharmacy, or is not a delivery order.","operationId":"RefillOrder_UpdateDelivery","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.UpdateDeliveryRequest"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/AddNote":{"post":{"tags":["RefillOrder"],"summary":"Add or update a pharmacy note on an order (Epic 5 — Story 5.1, FR24).\r\nReturns 404 when the order does not belong to this pharmacy.","operationId":"RefillOrder_AddNote","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.AddNoteRequest"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/Complete":{"post":{"tags":["RefillOrder"],"summary":"Finalise (complete) a pending order (Story 2.5b — FR27).\r\nReturns 404 when the order does not exist or does not belong to this pharmacy.\r\nReturns 400 when the order has no line items to tally.","operationId":"RefillOrder_Complete","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.CompleteOrderRequest"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/ProcessPIA":{"post":{"tags":["RefillOrder"],"summary":"Process a Pay-in-Advance charge (Epic 4 — Story 4.3).","operationId":"RefillOrder_ProcessPIA","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"request","in":"body","required":true,"schema":{"type":"object"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/SendEScript":{"post":{"tags":["RefillOrder"],"summary":"Send an eScript token to the dispensing system (Epic 3 — Story 3.3, FR16).\r\nAlways returns HTTP 200; the response body Code field indicates SUCCESS,\r\nFALLBACK_TO_PLUSONE (Angular must call PlusOne JS bridge), or ERROR.\r\nReturns 404 when the order does not belong to this pharmacy.","operationId":"RefillOrder_SendEScript","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.SendEScriptRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.SendEScriptResponse"}}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/LineItem/{orderId}":{"post":{"tags":["RefillOrder"],"summary":"Add a custom line item to a pending order (Story 3.5 — FR13).\r\nReturns the full updated order so the caller can refresh its list in one round-trip.\r\nReturns 400 when the name is missing; 404 when the order does not belong to this pharmacy.","operationId":"RefillOrder_AddLineItem","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.AddLineItemRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.PendingOrderModel"}}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/UpdateLineItemStatus":{"post":{"tags":["RefillOrder"],"summary":"Update the status of a line item (Epic 3 — Story 3.1, FR6–FR9).\r\nReturns 404 when the order or component does not belong to this pharmacy.\r\nReturns 400 when action = OnOrder but followUpDate is absent.","operationId":"RefillOrder_UpdateLineItemStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.UpdateLineItemStatusRequest"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/CompletedOrder/{orderId}/Refund":{"post":{"tags":["RefillOrder"],"summary":"Refund the PIA charge for a completed order (Epic 6 — Story 6.4, CRO-5).\r\nReturns 404 when the order does not exist or does not belong to this pharmacy.\r\nReturns 400 with an error message when the refund is rejected (gateway failure,\r\ndisbursed, already refunded, delay window, etc.).","operationId":"RefillOrder_RefundOrder","consumes":[],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/CompletedOrder/{orderId}/Reminder":{"post":{"tags":["RefillOrder"],"summary":"Send a reminder message to a patient for a completed order (Epic 6 — Story 6.2, CRO-2).\r\nReturns 404 when the order does not exist or does not belong to this pharmacy.\r\nReturns 400 when the message body is missing or empty.","operationId":"RefillOrder_SendReminder","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MedAdvisor.PharmacyUnifiedAPI.v1.Models.SendReminderRequest"}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/CompletedOrder/{orderId}/ReturnToStock":{"post":{"tags":["RefillOrder"],"summary":"Return all items for a completed order to stock (Epic 6 — Story 6.3, CRO-3).\r\nReturns 404 when the order does not exist or does not belong to this pharmacy.","operationId":"RefillOrder_ReturnToStock","consumes":[],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/v1/RefillOrder/LineItem/{orderId}/{lineItemId}":{"delete":{"tags":["RefillOrder"],"summary":"Delete a custom line item from a pending order (Story 3.5 — FR14).\r\nReturns 404 when the order, item, or pharmacy context is not found, or the item\r\nis not a custom item (only custom items may be deleted via this endpoint).","operationId":"RefillOrder_DeleteLineItem","consumes":[],"produces":[],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"lineItemId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}}},"definitions":{"MedAdvisor.PharmacyUnifiedAPI.v1.Models.AuthLoginPharmacy":{"description":"Login model for pharmacy access.","type":"object","properties":{"userName":{"description":"The username to be verified","type":"string","example":"abc@example.com"},"password_encoded":{"description":"The password to be verified, encoded in Base64.","type":"string","example":"cGFzc3dvcmQ="},"clientId":{"description":"The client Id to be verified","type":"string","example":"clientId"},"clientSecret":{"description":"The client secret to be verified","type":"string","example":"clientSecret"}}},"MedAdvisor.HSH.Core.Structure.OperationResult`1[[MedAdvisor.HSH.Core.Structure.IdResult, MedAdvisor.PharmacyUnifiedAPI, Version=5.85.0.0, Culture=neutral, PublicKeyToken=null]]":{"type":"object","properties":{"errorData":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.NoResult","readOnly":true},"result":{"format":"int32","enum":[0,1,-13,-12,-11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1],"type":"integer"},"resultMessage":{"type":"string"},"data":{"$ref":"#/definitions/MedAdvisor.HSH.Core.Structure.IdResult"}}},"MedAdvisor.HSH.Core.Structure.NoResult":{"type":"object","properties":{}},"MedAdvisor.HSH.Core.Structure.IdResult":{"type":"object","properties":{"id":{"type":"string"}}},"MedAdvisor.PharmacyUnifiedAPI.v1.Models.ResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string"}}},"MedAdvisor.Framework.Interface.DateTimeResult":{"type":"object","properties":{"data":{"format":"date-time","type":"string"},"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.PharmacyUnifiedAPI.v1.Models.EventServiceModel":{"type":"object","properties":{"pharmacyId":{"format":"int32","type":"integer"},"capabilityId":{"format":"int32","type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"supplemental":{"type":"string"},"duration":{"format":"int32","type":"integer"},"bookingType":{"format":"int32","type":"integer"},"visible":{"format":"int32","type":"integer"}}},"MedAdvisor.Framework.Interface.EventResourceResult":{"type":"object","properties":{"resources":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventResourceWrapper"}},"totalCount":{"format":"int32","type":"integer"},"store":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Store"},"earliestOpening":{"type":"string"},"latestClosing":{"type":"string"},"calendarLayout":{"type":"string"},"smsConfirmation":{"type":"boolean"},"smsReminder":{"type":"boolean"},"duration":{"format":"int32","type":"integer"},"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.Framework.Interface.EventResourceWrapper":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"color":{"type":"string"},"availabilityType":{"format":"int32","enum":[0,1],"type":"integer"},"recurrencePattern":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventRecurrence"}},"singleBookings":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingWrapper"}},"availableServices":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailability"}},"linkedServices":{"type":"array","items":{"format":"int32","type":"integer"}},"isDeleted":{"type":"boolean"},"calendarContext":{"format":"int32","type":"integer"},"locationType":{"type":"string"}}},"MedAdvisor.Framework.Interface.Store":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"storeCode":{"type":"string"},"systemCode":{"format":"int32","type":"integer"},"preferredName":{"type":"string"},"tier":{"$ref":"#/definitions/MedAdvisor.Framework.Finance.PharmacyTier"},"bannerURL":{"type":"string"},"pendingBannerURL":{"type":"string"},"phone":{"type":"string"},"phoneVisible":{"type":"boolean"},"fax":{"type":"string"},"faxVisible":{"type":"boolean"},"email":{"type":"string"},"emailVisible":{"type":"boolean"},"operatingHours":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.OperatingHour"}},"operatingHoursRaw":{"type":"string"},"operatingHoursNotes":{"type":"string"},"contactName":{"type":"string"},"websiteURL":{"type":"string"},"address":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Location"},"status":{"format":"int32","type":"integer"},"pepStatus":{"format":"int32","type":"integer"},"pepScriptProcessing":{"type":"boolean"},"pepScriptProcessingPulse":{"type":"boolean"},"currentUsers":{"format":"int32","type":"integer"},"currentUsersLocal":{"format":"int32","type":"integer"},"ttrOrders":{"format":"int32","type":"integer"},"distance":{"format":"double","type":"number"},"processingMode":{"format":"int32","enum":[0,1,2,3,4],"type":"integer"},"broadcastAllowed":{"type":"boolean"},"blockUI":{"type":"boolean"},"password":{"type":"string"},"pushReports":{"type":"boolean"},"pepLastUploadDate":{"format":"date-time","type":"string"},"pepLastScriptDate":{"format":"date-time","type":"string"},"gcLastHeartbeat":{"format":"date-time","type":"string"},"hnScriptFlowEnabled":{"type":"boolean"},"hnLastHeartbeat":{"format":"date-time","type":"string"},"lightweightLastHeartbeat":{"format":"date-time","type":"string"},"automatedRefillValid":{"type":"boolean"},"automatedRefillTimePickup":{"format":"int32","type":"integer"},"automatedRefillClosingLimit":{"format":"int32","type":"integer"},"automatedRefillAlert":{"type":"boolean"},"automatedPopupAlert":{"type":"boolean"},"automatedRefillReadyMessage":{"type":"boolean"},"supportClickAndCollect":{"type":"boolean"},"supportPayInAdvance":{"type":"boolean"},"supportGST":{"type":"boolean"},"remoteActivation":{"type":"boolean"},"deliveryOptions":{"format":"int32","enum":[1,2,4],"type":"integer"},"automatedRefillIfRepeats":{"type":"boolean"},"automatedRefillIfDispenseHistory":{"type":"boolean"},"firstLogin":{"type":"boolean"},"latitude":{"format":"double","type":"number"},"longitude":{"format":"double","type":"number"},"patientInitiatedCommsAllowed":{"type":"boolean"},"photoSupport":{"type":"boolean"},"wizardRun":{"type":"boolean"},"dispenseSoftware":{"type":"string"},"autoCloseNotification":{"format":"int32","type":"integer"},"notificationFrequency":{"format":"int32","type":"integer"},"consumerLogoReplacement":{"type":"string"},"consumerCatalog":{"type":"string"},"consumerRewards":{"type":"string"},"consumerServices":{"type":"string"},"consumerServicesBlock":{"type":"boolean"},"systemID":{"format":"int32","type":"integer"},"consent":{"format":"int32","type":"integer"},"lastUploadDate":{"format":"date-time","type":"string"},"pepLastUploadTime":{"type":"string"},"pepPulseFrequency":{"format":"int32","type":"integer"},"pepPulseStart":{"type":"string"},"pepPulseEnd":{"type":"string"},"lastScriptDate":{"format":"date-time","type":"string"},"codeineMonitoring":{"type":"boolean"},"smsSupport":{"type":"boolean"},"allowNDSSOrdering":{"type":"boolean"},"allowOTCOrdering":{"type":"boolean"},"instantActivateAllowed":{"type":"boolean"},"bookingServiceSupport":{"type":"boolean"},"homeSMSView":{"type":"boolean"},"billingAccess":{"type":"string"},"reportAccess":{"type":"string"},"hnId":{"type":"string"},"hnPassword":{"type":"string"},"eGuildID":{"type":"string"},"nostraId":{"type":"array","items":{"type":"string"}},"uuid":{"type":"string"},"healthNotesPharmacyDetail":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.HealthNotesPharmacyDetail"}},"owner":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Owner"},"moduleSettings":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.ModuleActivation"},"smsFallbackSupport":{"type":"boolean"},"isTest":{"type":"boolean"},"isStaging":{"type":"boolean"},"isDemo":{"type":"boolean"},"isOptOut":{"type":"boolean"},"isMultimain":{"type":"boolean"},"multimainPrimaryId":{"format":"int32","type":"integer"},"storeDetailsCorrect":{"format":"date-time","type":"string"},"showTermsConditions":{"type":"boolean"},"partnerType":{"format":"int32","type":"integer"},"partnerPharmacyId":{"type":"string"},"ePrescribingSettings":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.ElectronicPrescribingSettings"},"externalSystem":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PharmacyExternalSystem"}},"providers":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.PharmacyLoyaltyProvider"}},"locale":{"format":"int32","type":"integer"},"timezone":{"type":"string"},"serverTime":{"format":"date-time","type":"string"},"subscriptions":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Subscription"}}}},"MedAdvisor.Framework.Interface.EventRecurrence":{"type":"object","properties":{"isNew":{"type":"boolean"},"id":{"format":"int32","type":"integer"},"recurrenceType":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"months":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12],"type":"integer"}},"weekdays":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"}},"dates":{"type":"array","items":{"format":"int32","type":"integer"}},"startTime":{"type":"string"},"endTime":{"type":"string"},"startDate":{"format":"date-time","type":"string"},"endDate":{"format":"date-time","type":"string"},"recurEvery":{"format":"int32","type":"integer"},"endAfterOccurences":{"format":"int32","type":"integer"},"recurrenceEndType":{"format":"int32","enum":[0,1,2],"type":"integer"},"dayOfMonthInYearlyRecurrence":{"format":"int32","type":"integer"},"useEndTime":{"type":"boolean"}}},"MedAdvisor.Framework.Interface.EventBookingWrapper":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"startDate":{"format":"date-time","type":"string"},"endDate":{"format":"date-time","type":"string"},"title":{"type":"string"},"resourceId":{"format":"int32","type":"integer"},"resourceName":{"type":"string"},"type":{"type":"string"},"bookingRef":{"type":"string"},"isNew":{"type":"boolean"},"isDeleted":{"type":"boolean"},"capabilityId":{"format":"int32","type":"integer"},"capabilityName":{"type":"string"},"capabilityNameOriginal":{"type":"string"},"openPrescreeningInExternalBrowser":{"type":"boolean"},"color":{"type":"string"},"notes":{"type":"string"},"initials":{"type":"string"},"userID":{"format":"int32","type":"integer"},"userCache_ID":{"format":"int32","type":"integer"},"userMobile":{"type":"string"},"userEmail":{"type":"string"},"userMedicareNumber":{"type":"string"},"userIRN":{"format":"int32","type":"integer"},"userMedicareExpiry":{"type":"string"},"userDateOfBirth":{"format":"date-time","type":"string"},"userStreet":{"type":"string"},"userSuburb":{"type":"string"},"userState":{"type":"string"},"userPostcode":{"type":"string"},"duration":{"format":"int32","type":"integer"},"shouldSendConfirmation":{"type":"boolean"},"shouldSendReminder":{"type":"boolean"},"reminderPriorHours":{"type":"string"},"createDate":{"format":"date-time","type":"string"},"dispenseRefId":{"type":"string"},"calendarTokenId":{"type":"string"},"availableResourceIds":{"type":"string"},"pharmacyName":{"type":"string"},"pharmacy_ID":{"format":"int32","type":"integer"},"pharmacyTimeZone":{"type":"string"},"prescreenCompleted":{"format":"date-time","type":"string"},"prescreenData":{"type":"string"},"prescreenURL":{"type":"string"},"prescreenView":{"type":"string"},"dose":{"type":"string"},"reasonForConsultation":{"type":"string"},"relevantBackgroundInfo":{"type":"string"},"decisionMakerName":{"type":"string"},"organisationCode":{"type":"string"},"consultationType":{"type":"string"},"pharmacistId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"pharmacistName":{"type":"string"},"vaccineEnquiry":{"type":"boolean"},"prescreenRequirement":{"format":"int32","type":"integer"},"isVaccineRecommendationPrompt":{"type":"boolean"},"vaccineRecommendationPromptMessage":{"type":"string"},"source":{"format":"int32","type":"integer"},"availablePharmacistIds":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}},"isCompleted":{"type":"boolean"},"organisationDivision":{"type":"string"},"employeeStatus":{"type":"string"},"employeeId":{"type":"string"},"organisationServices":{"type":"array","items":{"type":"string"}},"decisionMakerConsent":{"type":"boolean"},"clinicalConsent":{"type":"boolean"},"financialConsent":{"type":"boolean"},"groupBookingId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"groupSize":{"format":"int32","type":"integer"},"groupMemberIndex":{"format":"int32","type":"integer"},"groupContactEmail":{"type":"string"},"groupContactMobile":{"type":"string"},"hasPrescreen":{"type":"boolean"}}},"MedAdvisor.Framework.Interface.BookingAvailability":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"type":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"bookingTarget":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"bookingTargetUrl":{"type":"string"},"name":{"type":"string"},"longName":{"type":"string"},"friendlyName":{"type":"string"},"blurb":{"type":"string"},"iconImage":{"type":"string"},"bannerImage":{"type":"string"},"suggestionPriority":{"format":"int32","type":"integer"},"resourceAvailable":{"type":"boolean"},"standardDuration":{"format":"int32","type":"integer"},"prescreenRequirement":{"format":"int32","enum":[0,1,2],"type":"integer"},"prescreenView":{"type":"string"},"ppsEngine":{"type":"string"},"bookingInformation":{"type":"string"},"openPrescreeningInExternalBrowser":{"type":"boolean"},"maExternalBookingUrl":{"type":"string"},"openBookingPageInExternalBrowser":{"type":"boolean"},"warningMessage":{"type":"string"},"isLinkedToVaccinationForm":{"type":"boolean"},"isCollectConsentRemind":{"type":"boolean"},"isCollectConsentPrompt":{"type":"boolean"},"isFamilyBookingEligible":{"type":"boolean"},"collectConsentMessage":{"type":"string"},"isSetAge":{"type":"boolean"},"minAge":{"format":"int32","type":"integer"},"maxAge":{"format":"int32","type":"integer"},"clinicId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"clinicName":{"type":"string"},"location":{"type":"string"}}},"MedAdvisor.Framework.Finance.PharmacyTier":{"type":"object","properties":{"tierID":{"format":"int32","type":"integer"},"tierName":{"type":"string"},"startDate":{"format":"date-time","type":"string"},"endDate":{"format":"date-time","type":"string"},"duration":{"format":"int32","type":"integer","readOnly":true}}},"MedAdvisor.Framework.Interface.OperatingHour":{"type":"object","properties":{"weekday":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"},"startHour":{"format":"int32","type":"integer"},"startMinute":{"format":"int32","type":"integer"},"endHour":{"format":"int32","type":"integer"},"endMinute":{"format":"int32","type":"integer"}}},"MedAdvisor.Framework.Interface.Location":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"addressName":{"type":"string"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"suburb":{"type":"string"},"zipCode":{"type":"string"},"stateId":{"type":"string"},"stateName":{"type":"string"},"type":{"format":"int32","enum":[0,1,2,3,4,5],"type":"integer"},"typeName":{"type":"string"},"latitude":{"format":"double","type":"number"},"longitude":{"format":"double","type":"number"},"notes":{"type":"string"},"cityNew":{"type":"string"},"fullAddress":{"type":"string","readOnly":true},"fullAddressWithCommas":{"type":"string","readOnly":true},"fullAddressWithSpace":{"type":"string","readOnly":true},"fullAddressWithCommasAndBr":{"type":"string","readOnly":true}}},"MedAdvisor.Framework.Interface.HealthNotesPharmacyDetail":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"invoiceGroup":{"type":"string"},"bannerGroup":{"type":"string"},"street":{"type":"string"},"suburb":{"type":"string"},"state":{"type":"string"},"postCode":{"format":"int32","type":"integer"},"enrolledPatients":{"format":"int32","type":"integer"},"phone":{"type":"string"},"hN_ID":{"type":"string"},"createDate":{"format":"date-time","type":"string"},"pharmacy_ID":{"format":"int32","type":"integer"}}},"MedAdvisor.Framework.Interface.Owner":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"abn":{"type":"string"},"pharmacyCount":{"format":"int32","type":"integer"},"billingGroupCount":{"format":"int32","type":"integer"},"clinicCount":{"format":"int32","type":"integer"},"gpCount":{"format":"int32","type":"integer"},"address":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Location"},"pharmacies":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Store"}},"billingGroups":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Store"}},"clinics":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.GPPractice"}},"gPs":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.GPPractitioner"}},"email":{"type":"string"},"phone":{"type":"string"},"contact":{"type":"string"},"balance":{"format":"double","type":"number"}}},"MedAdvisor.Framework.Interface.ModuleActivation":{"type":"object","properties":{"appModule":{"type":"boolean"},"smsModule":{"type":"boolean"},"ppsModule":{"type":"boolean"},"gpModule":{"type":"boolean"},"analyticsModule":{"type":"boolean"},"map2Module":{"type":"boolean"},"healthHubModule":{"type":"boolean"},"termsConditions":{"type":"string"},"paymentsWarning":{"type":"boolean"},"paymentsSuspension":{"type":"boolean"},"whiteLabelName":{"type":"string"},"whiteLabelId":{"format":"int32","type":"integer"},"segmentApiKey":{"type":"string"},"firehoseAccessKey":{"type":"string"},"firehoseSecretKey":{"type":"string"},"plusOneCloudWatchAccessKey":{"type":"string"},"plusOneCloudWatchSecretKey":{"type":"string"},"s3PlusOneCloudUploadAccessKey":{"type":"string"},"s3PlusOneCloudUploadSecretKey":{"type":"string"},"s3PlusOneCloudUploadBucketName":{"type":"string"},"remoteSettingsEnabled":{"type":"boolean"},"termsConditionsVersion":{"type":"string"},"termsConditionsDate":{"format":"date-time","type":"string"},"releaseNoteID":{"format":"int32","type":"integer"},"isDeliveryEnabled":{"type":"boolean"},"calendarModule":{"type":"boolean"},"subscriptionsModule":{"type":"boolean"},"projectStopModule":{"type":"boolean"},"trainingModule":{"type":"boolean"},"locale":{"format":"int32","type":"integer"},"eGuildID":{"type":"string"},"communicationsModule":{"type":"boolean"},"dataCollectorModule":{"type":"boolean"},"plusOneCloudModule":{"type":"boolean"},"medAdvisorForPharmacyModule":{"type":"boolean"},"showCalendarWizard":{"type":"boolean"},"calendarWizardEndDate":{"format":"date-time","type":"string"},"calendarWizardRemainingDays":{"format":"int32","type":"integer"},"calendarVersion":{"type":"string"},"allowedIpAddress":{"type":"string"},"usingCalendar":{"type":"boolean"},"receiveThirdPartyOutageAlerts":{"type":"boolean"},"mergePatientsFunctionality":{"type":"boolean"},"managePharmacistsFunctionality":{"type":"boolean"},"advancedPatientSearch":{"type":"boolean"},"enableNewMedicationForSmsRemindersScreen":{"type":"boolean"},"editDaysLefteScriptsNoScriptFlow":{"type":"boolean"},"unmappedDrugsEnabled":{"type":"boolean"},"automatedBannerEnabled":{"type":"boolean"},"customTileEnabled":{"type":"boolean"},"inboxAlertForMobilePhoneDiscrepancy":{"type":"boolean"},"aiAssistModule":{"type":"boolean"},"aiAssistProvider":{"type":"string"},"angularPendingOrderEnabled":{"type":"boolean"},"walkInEnabled":{"type":"boolean"},"vaccinationConsentCaptureEnabled":{"type":"boolean"},"familyBookingEnabled":{"type":"boolean"},"featureFlag_InboxAlgorithm":{"format":"int32","enum":[0,1],"type":"integer"},"whitelistIPAddresses":{"type":"array","items":{"type":"string"},"readOnly":true}}},"MedAdvisor.Framework.Interface.ElectronicPrescribingSettings":{"type":"object","properties":{"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.Framework.Interface.PharmacyExternalSystem":{"type":"object","properties":{"maid":{"format":"int32","type":"integer"},"externalSystemName":{"type":"string"},"externalID":{"type":"string"},"id":{"format":"int32","type":"integer"},"pendingOperation":{"format":"int32","enum":[1,2,3],"type":"integer"},"externalSystemID":{"format":"int32","enum":[1],"type":"integer"},"rawData":{"type":"string"},"uuid":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"MedAdvisor.Framework.Interface.PharmacyLoyaltyProvider":{"type":"object","properties":{"providerID":{"format":"int32","type":"integer"},"providerName":{"type":"string"},"merchantId":{"type":"string"}}},"MedAdvisor.Framework.Interface.Subscription":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"amount":{"format":"double","type":"number"},"startDate":{"format":"date-time","type":"string"},"endDate":{"format":"date-time","type":"string"},"description":{"type":"string"},"showOnInvoice":{"type":"boolean"},"isDefault":{"type":"boolean"},"duration":{"format":"int32","type":"integer","readOnly":true}}},"MedAdvisor.Framework.Interface.GPPractice":{"type":"object","properties":{"practiceId":{"format":"int32","type":"integer"},"name":{"type":"string"},"contactName":{"type":"string"},"token":{"type":"string"},"activationKey":{"type":"string"},"activationKeyExpiry":{"format":"date-time","type":"string"},"address":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Location"},"addressGoogle":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Location"},"bannerURL":{"type":"string"},"businessName":{"type":"string"},"phone":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"bookingSystem":{"type":"string"},"abn":{"type":"string"},"phoneVisible":{"type":"boolean"},"faxVisible":{"type":"boolean"},"emailVisible":{"type":"boolean"},"websiteVisible":{"type":"boolean"},"bookingSystemVisible":{"type":"boolean"},"openHours":{"type":"string"},"openHoursNotes":{"type":"string"},"practiceIdentifier":{"type":"string"},"practiceSourceSystem":{"format":"int32","enum":[0,1,2,3,-1],"type":"integer"},"bankingAccount":{"type":"string"},"bankingDisplay":{"type":"string"},"activated":{"type":"boolean"},"allowPracticeRateOverride":{"type":"boolean"},"internalPractice":{"type":"boolean"},"owner":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Owner"}}},"MedAdvisor.Framework.Interface.GPPractitioner":{"type":"object","properties":{"practitionerId":{"format":"int32","type":"integer"},"practice_UserId":{"type":"string"},"practice_PractitionerId":{"type":"string"},"providerNumber":{"type":"string"},"prescriberNumber":{"type":"string"},"stateRegistrationNumber":{"type":"string"},"title":{"type":"string"},"firstName":{"type":"string"},"middleNames":{"type":"string"},"lastName":{"type":"string"},"qualifications":{"type":"string"},"phone":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"mobile":{"type":"string"},"abn":{"type":"string"},"phoneVisible":{"type":"boolean"},"faxVisible":{"type":"boolean"},"emailVisible":{"type":"boolean"},"mobileVisible":{"type":"boolean"},"sendSMSReminder":{"type":"boolean"},"sendSMTPReminder":{"type":"boolean"},"reminderHour":{"format":"int32","type":"integer"},"reminderMinute":{"format":"int32","type":"integer"},"processQueue":{"type":"boolean"},"owner":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.Owner"}}},"MedAdvisor.Framework.Interface.BookingAvailabilityResult":{"type":"object","properties":{"availability":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailability"}},"totalCount":{"format":"int32","type":"integer"},"isNew":{"type":"boolean"},"bookingType":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"bookingTypeUrl":{"type":"string"},"directBookingsURL":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingTokenKey"}},"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.Framework.Interface.BookingTokenKey":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"code":{"type":"string"},"userId":{"type":"string"},"url":{"type":"string"},"capabilityId":{"format":"int32","type":"integer"}}},"MedAdvisor.Framework.Interface.EventBookingResult":{"type":"object","properties":{"bookings":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingWrapper"}},"bookings_Event":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingWrapper"},"totalCount":{"format":"int32","type":"integer"},"resourceAvailability":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventAvailability"}},"cancelAllowed":{"type":"boolean"},"duration":{"format":"int32","type":"integer"},"bookingAvailability":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.BookingAvailability"},"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.Framework.Interface.EventAvailability":{"type":"object","properties":{"resourceId":{"format":"int32","type":"integer"},"availabilityType":{"format":"int32","enum":[0,1],"type":"integer"},"times":{"type":"array","items":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.EventBookingWrapper"}},"color":{"type":"string"}}},"MedAdvisor.Framework.Interface.CalendarAccessTokenResult":{"type":"object","properties":{"customerBookingToken":{"type":"string"},"staffBookingToken":{"type":"string"},"widgetBookingToken":{"type":"string"},"result":{"format":"int32","type":"integer"},"resultMessage":{"type":"string"}}},"MedAdvisor.PharmacyUnifiedAPI.v1.Models.CalenderTokenModel":{"type":"object","properties":{"staffBookingToken":{"type":"string"},"accessToken":{"type":"string"},"pharmacyGroupId":{"format":"int32","type":"integer"},"whitelabelId":{"format":"int32","type":"integer"},"pharmacyId":{"format":"int32","type":"integer"},"pharmacyGroupName":{"type":"string"},"pharmacyGroupBanner":{"type":"string"},"pharmacyGroupSettings":{"$ref":"#/definitions/MedAdvisor.Framework.Interface.WhiteLabelSettings"},"defaultServiceId":{"format":"int32","type":"integer"},"serviceId":{"format":"int32","type":"integer"},"userId":{"type":"string"},"clinicId":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"userName":{"type":"string"},"userFirstName":{"type":"string"},"userLastName":{"type":"string"},"extensionXml":{"type":"string"},"isMedAdvisorOpenURL":{"type":"boolean"}}},"MedAdvisor.Framework.Interface.WhiteLabelSettings":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"hasRewards":{"type":"boolean"},"filterSearch":{"type":"boolean"},"networkLock":{"type":"boolean"},"mobiGeneralCSS":{"type":"string"},"mobiImage":{"type":"string"},"mobiImageSpecialized":{"type":"string"},"mobiImageWebapp":{"type":"string"},"consumerWebImage":{"type":"string"},"supportedVersions":{"type":"array","items":{"type":"string"}},"calendarBanner":{"type":"string"},"calendarColour1":{"type":"string"},"calendarColour2":{"type":"string"},"calendarName":{"type":"string"},"calendarMenuColour":{"type":"string"},"calendarHeaderTextColour":{"type":"string"},"calendarSelectBackgroundColour":{"type":"string"},"calendarSelectTextColour":{"type":"string"},"calendarCellColour":{"type":"string"},"newUserBranded":{"type":"boolean"},"shortCompanyName":{"type":"string"},"brandedApp":{"type":"boolean"},"phoneNoFormatMessage":{"type":"string"},"userLoginFormatMessage":{"type":"string"}}},"MedAdvisor.PharmacyUnifiedAPI.v1.Models.UserSearchModel":{"type":"object","properties":{"firstName":{"type":"string","readOnly":true},"lastName":{"type":"string"},"email":{"type":"string"},"mobile":{"type":"string"},"sha":{"type":"string"},"shaSecondary":{"type":"string"},"userId":{"type":"string"},"pharmacyId":{"format":"int32","type":"integer"},"pharmacies":{"type":"array","items":{"format":"int32","type":"integer"}},"isSMS":{"type":"boolean"},"isTracker":{"type":"boolean"},"practiceId":{"format":"int32","type":"integer"},"practitionerId":{"format":"int32","type":"integer"},"includeCarerInfo":{"type":"boolean"},"includeLocalCachePatients":{"type":"boolean"},"specialSearch":{"ty
[...]
