openapi: 3.2.0
info:
  version: v2
  title: Pharmacy Unified API v2.0 Clinic API
servers:
- url: https://pharmacy-unified.api.medadvisor.com.au
tags:
- name: Clinic
paths:
  /api/v2/clinic/{clinicId}:
    get:
      tags:
      - Clinic
      summary: Retrieve clinic detail
      operationId: Clinic_RetrieveClinicDetail
      parameters:
      - name: clinicId
        in: path
        description: Clinic Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
      security:
      - Bearer: []
    delete:
      tags:
      - Clinic
      summary: Deletes a clinic associated with the specified clinic identifier.
      description: "This action requires the caller to be authorized and associated with a valid\n            pharmacy. If the pharmacy identifier is invalid, the request will result in an unauthorized response. If the\n            {clinicId} is an empty GUID, the request will result in a bad request response."
      operationId: Clinic_RemoveClinic
      parameters:
      - name: clinicId
        in: path
        description: The unique identifier of the clinic to be removed. Must not be an empty GUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
  /api/v2/clinic/{clinicId}/retrieveBookingUrl:
    get:
      tags:
      - Clinic
      summary: RetrieveBookingUrl
      operationId: Clinic_RetrieveBookingUrl
      parameters:
      - name: clinicId
        in: path
        description: clinicId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.String__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.String__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.String__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.String__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
  /api/v2/clinic/{clinicId}/bookings:
    get:
      tags:
      - Clinic
      summary: Retrieve clinic bookings
      operationId: Clinic_RetrieveClinicBookings
      parameters:
      - name: clinicId
        in: path
        description: Clinic Id
        required: true
        schema:
          type: string
          format: uuid
      - name: query
        in: query
        description: The search query.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicBookingModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicBookingModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicBookingModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicBookingModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
    post:
      tags:
      - Clinic
      summary: Add clinic booking
      operationId: Clinic_AddClinicBooking
      parameters:
      - name: clinicId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Int32__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Int32__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Int32__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Int32__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
        description: Clinic Booking Model
        required: true
  /api/v2/clinic/generateclinicreport:
    get:
      tags:
      - Clinic
      summary: Generate clinic report in csv
      operationId: Clinic_GenerateClinicReportAsync
      parameters:
      - name: clinicGuid
        in: query
        description: Clinic GUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
      security:
      - Bearer: []
  /api/v2/clinic/{clinicId}/retrieveavailabletimeslots:
    get:
      tags:
      - Clinic
      summary: Retrieve clinic available times slots
      operationId: Clinic_RetrieveAvailableTimeslots
      parameters:
      - name: clinicId
        in: path
        description: clinicId
        required: true
        schema:
          type: string
          format: uuid
      - name: eventBookingId
        in: query
        description: eventBookingId
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
      security:
      - Bearer: []
  /api/v2/clinic/retrieveclinics:
    get:
      tags:
      - Clinic
      summary: Retrieves clinic.
      operationId: Clinic_RetrieveClinics
      parameters:
      - name: status
        in: query
        description: Clinic status
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: query
        in: query
        description: The search query.
        required: false
        schema:
          type: string
      - name: sortFieldName
        in: query
        description: Sort
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: Direction
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
  /api/v2/clinic/createorupdate:
    post:
      tags:
      - Clinic
      summary: Create or update the clinic.
      operationId: Clinic_CreateOrUpdateClinic
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicSaveModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicSaveModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicSaveModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicSaveModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
      security:
      - Bearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
        description: The clinic.
        required: true
  /api/v2/clinic/booking/{clinicId}/{eventBookingId}:
    delete:
      tags:
      - Clinic
      summary: Deletes a clinic booking associated with the specified pharmacy, clinic, and event booking identifiers.
      description: "This action requires the caller to be authorized and associated with a valid pharmacy.  \n            If the pharmacy identifier is invalid or does not match the authenticated user, the request will result in an unauthorized response. \n            If the {eventBookingId} is invalid or zero, the request will result in a bad request response."
      operationId: Clinic_RemoveClinicBooking
      parameters:
      - name: clinicId
        in: path
        description: The unique identifier of the clinic associated with the booking. Must not be an empty GUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: eventBookingId
        in: path
        description: The unique identifier (ID) of the event booking to be removed. Must be greater than zero.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/json:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            application/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
            text/xml:
              schema:
                $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089'
      security:
      - Bearer: []
components:
  schemas:
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel'
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Int32__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          format: int32
          type: integer
    MedAdvisor.Framework.Interface.v2.ClinicBookingModel:
      type: object
      properties:
        eventBookingId:
          format: int32
          type: integer
        pharmacyId:
          format: int32
          type: integer
        clinicId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        patientId:
          format: int32
          type: integer
        serviceId:
          format: int32
          type: integer
        serviceName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        email:
          type: string
        dob:
          format: date-time
          type: string
        street:
          type: string
        suburb:
          type: string
        state:
          type: string
        postcode:
          type: string
        mobile:
          type: string
        medicareNumber:
          type: string
        irn:
          type: string
        initial:
          type: string
        notes:
          type: string
        fromTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          type: string
        voucherCode:
          type: string
        sendEmail:
          type: boolean
        sendReminder:
          type: boolean
        isLinkedServiceToForm:
          type: boolean
        isVaccineRecommendationPrompt:
          type: boolean
        vaccineRecommendationPromptMessage:
          type: string
        isCompleted:
          type: boolean
        completedTime:
          format: date-time
          type: string
        source:
          format: int32
          type: integer
    MedAdvisor.Framework.Interface.BookingAvailability:
      type: object
      properties:
        id:
          format: int32
          type: integer
        type:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
        bookingTarget:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
        bookingTargetUrl:
          type: string
        name:
          type: string
        longName:
          type: string
        friendlyName:
          type: string
        blurb:
          type: string
        iconImage:
          type: string
        bannerImage:
          type: string
        suggestionPriority:
          format: int32
          type: integer
        resourceAvailable:
          type: boolean
        standardDuration:
          format: int32
          type: integer
        prescreenRequirement:
          format: int32
          enum:
          - 0
          - 1
          - 2
          type: integer
        prescreenView:
          type: string
        ppsEngine:
          type: string
        bookingInformation:
          type: string
        openPrescreeningInExternalBrowser:
          type: boolean
        maExternalBookingUrl:
          type: string
        openBookingPageInExternalBrowser:
          type: boolean
        warningMessage:
          type: string
        isLinkedToVaccinationForm:
          type: boolean
        isCollectConsentRemind:
          type: boolean
        isCollectConsentPrompt:
          type: boolean
        isFamilyBookingEligible:
          type: boolean
        collectConsentMessage:
          type: string
        isSetAge:
          type: boolean
        minAge:
          format: int32
          type: integer
        maxAge:
          format: int32
          type: integer
        clinicId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        clinicName:
          type: string
        location:
          type: string
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2'
    MedAdvisor.Framework.Interface.v2.ClinicReportModel:
      type: object
      properties:
        clinicName:
          type: string
        fileContent:
          type: string
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicSaveModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicSaveModel'
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicModel'
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Boolean__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          type: boolean
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.Collections.Generic.List_1__MedAdvisor.Framework.Interface.v2.ClinicBookingModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2____mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicBookingModel'
    MedAdvisor.Framework.Interface.v2.ClinicSaveModel:
      type: object
      properties:
        clinicId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        bookingUrl:
          type: string
    MedAdvisor.Framework.Interface.v2.PharmacistInfoModel:
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        deleted:
          format: date-time
          type: string
    MedAdvisor.Framework.Interface.v2.TimePeriodModel:
      type: object
      properties:
        from:
          format: date-time
          type: string
        to:
          format: date-time
          type: string
    MedAdvisor.Framework.Interface.v2.ClinicModel:
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        pharmacyId:
          format: int32
          type: integer
        capabilityId:
          format: int32
          type: integer
        capabilityName:
          type: string
        eventResourceId:
          format: int32
          type: integer
        resourceName:
          type: string
        name:
          type: string
        serviceLength:
          format: int32
          type: integer
        locationType:
          format: int32
          enum:
          - 0
          - 1
          type: integer
        externalLocationName:
          type: string
        startTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          type: string
        addBufferTime:
          type: boolean
        bufferTime:
          format: int32
          type: integer
        clinicStatus:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
        privateUrlOnly:
          type: boolean
        preferences:
          type: string
        pharmacistIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        pharmacists:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.PharmacistInfoModel'
        bookingIds:
          type: array
          items:
            format: int32
            type: integer
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__System.String__mscorlib__Version_4.0.0.0__Culture_neutral__PublicKeyToken_b77a5c561934e089
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          type: string
    ? MedAdvisor.Framework.Interface.v2.ApiResponseModel_1__MedAdvisor.Framework.Interface.v2.ClinicReportModel__MedAdvisor.Framework__Version_5.85.0.0__Culture_neutral__PublicKeyToken_c5a42efe99ff1eb2
    : type: object
      properties:
        result:
          format: int32
          type: integer
        resultMessage:
          type: string
        data:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.ClinicReportModel'
    MedAdvisor.Framework.Interface.v2.ClinicAvailableTimeModel:
      type: object
      properties:
        availableTimes:
          type: array
          items:
            $ref: '#/components/schemas/MedAdvisor.Framework.Interface.v2.TimePeriodModel'
        bookingAvailability:
          $ref: '#/components/schemas/MedAdvisor.Framework.Interface.BookingAvailability'
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
